<div>
    <canvas id="hand-canvas" ></canvas>
    <img id="hand-img"/>
    <div id="scribed">
        <h1 myMathJax [(mathString)]="rawString"></h1>
        <hr/>
        <!--<br/> left temporarily as qandd test of MathJax
        <div myMathJax>`sum_(i=1)^n i^3=((n(n+1))/2)^2`</div>-->
    </div>

    <div id="hand-controls">
        <button id="wrong">Wrong</button>
        <button id="clr">Clear</button>
        <input [(ngModel)]="rawString"  />
    </div>


    <div id="operator-controls">
        <button (click)="addSymbol(' ')" >&#x2423;</button>
        <button (click)="addSymbol('+')" >+</button> 
        <button (click)="addSymbol('-')" >-</button> 
        <button (click)="addSymbol('xx')" >x</button> 
        <button (click)="addSymbol('/')" >/</button> 
        <button (click)="addSymbol('=')" >=</button> 
        <button (click)="addSymbol('(')" >(</button> 
        <button (click)="addSymbol(')')" >)</button> 
        <button (click)="addSymbol('^')" >y &#x02e3;</button> 
        <button (click)="addSymbol('sqrt')" >&#x221a;</button> 
        
        <button (click)="crossout()" ><del>100</del></button> 
        <button (click)="cursorMove(-1)" >(left)</button> 
    </div>
</div>
