button {
    margin: 1.2em;
    font-size: 1.2em;
    padding: 1.5em;
    border: 3px solid blue;
}

#hand-img {
    border: 1px solid black;
    width: 48px;
    height: 48px;
    float: left;
    display: block;
    display: none;
}

#hand-canvas {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    float: left;
    display: block;
    display: none;
}

#hand-controls {
    float: left;
    clear: both;
}

#operator-controls {
    border: 1px solid black;
    float: left;
    clear: both;
}

.row-0 {
    top: 0;
}
.row-1 {
    top: 4em;
}
.row-2 {
    top: 8em;
}
.row-3 {
    top: 12em;
}
.row-4 {
    top: 16em;
}
.column-0 {
    left: 0;
}
.column-1 {
    left: 25%;
}
.column-2 {
    left: 50%;
}
.column-3 {
    left: 75%;
}
.column-4 {
    left: 100%;
}
.column-5 {
    left: 125%;
}
.column-6 {
    left: 150%;
}
.column-7 {
    left: 175%;
}
.column-8 {
    left: 200%;
}
.column-9 {
    left: 225%;
}
.column-10 {
    left: 250%;
}

.pretty {
    width: 100%;
    position: relative;
    height: 17em;
    background: url("./resources/background.jpg");
    border: 1px solid black;
    overflow: auto;
}


#scribed {
    width: 100%;
    border: 1px solid black;
    float: left;
    /*width: 60%;
    height: 400px;*/
    display: block;
    clear: both;
}

#tokens {
}

#raw-input {
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:transparent;
    cursor:default;
    width: 1em;
}

.carousel {
    display: inline;
    border: 1px solid black;
    margin: 1.5;
    background-color: #a0a0a0;
}

.term-selected {
    font-size: 1.3em;
    background-color: #7fa07f;
    margin: 2em;
    display: inline;
}

.line-arithmetic {
    padding: 0.5em 0;
    background: url("./resources/background.jpg");
    position: absolute;
    width: 25%;
}

.line-selected {
    padding: 0.3em 0;
    background: #a0ffa0;
    /*background: url("./resources/background.jpg");*/
}

.marker {
        background-color: red;
}

.display-symbol {
    font-weight: 900;
    text-align: center;
    float: left;
}
.hotkey{
    color: gray;
    text-align: center;
    float: left;
    clear: left;
}

input {
    font-size: 24px;
    padding: 10px;
    color: red;
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}

input::-webkit-input-placeholder {
    color:
    text-shadow: none;
    -webkit-text-fill-color: initial;
}
