button {
    margin: 1em;
    font-size: 1.5em;
    padding: 1.5em;
    border: 3px solid blue;
}

#hand-img {
    border: 1px solid black;
    width: 48px;
    height: 48px;
    float: left;
    display: block;
    display: none;
}

#hand-canvas {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    float: left;
    display: block;
    display: none;
}

#hand-controls {
    float: left;
    clear: both;
}

#operator-controls {
    border: 1px solid black;
    float: left;
    clear: both;
}

.pretty {
    overflow: auto;
}


#scribed {
    border: 1px solid black;
    float: left;
    /*width: 60%;
    height: 400px;*/
    display: block;
    clear: both;
}

#tokens {
}

#raw-input {
    width: 80%;
}

.carousel {
    display: inline;
    border: 1px solid black;
    margin: 1.5;
    background-color: #a0a0a0;
}

.term-selected {
    font-size: 1.3em;
    background-color: #7fa07f;
    margin: 2em;
    display: inline;
}

.line-arithmetic {
    padding: 0.5em 0;
    background-color: #ebebeb !important;
}

.line-selected {
    font-size: 1.3em;
    padding: 0.7em 0;
    background-color: #ebf7eb !important;
}

.marker {
        background-color: red;
}
