<div mySketch class="grid" [ngGrid]="{'max_cols': 2, 'max_rows': 1, 'col_width': 800, 'margins': [5, 5]}" >
    <div class="grid-item" [ngGridItem]="{'col': 1, 'row': 1, 'sizex': 1, 'sizey': 1}" (printPushed)="printSketch($event)" (window:keydown)="keyInput($event)" myThreeD ></div>

    <div class="grid-item" [ngGridItem]="{'col': 2, 'row': 1, 'sizex': 1, 'sizey': 1}">
        
        <div>
            <table class="button-table">
                <tr>
                    <td>
                        [P] Save Sketch
                    </td>
                    <td><jk-operator-button [operator]="'Save'" (notify)="sendDrawerKey('p')"></jk-operator-button></td>
                    <td>
                        Background image to trace
                    </td>
                    <td><input type="file" (change)="handleFileUpload($event)" accept="image/*" /></td>
                </tr>
                <tr>
                    <td>[J]oin (joins green dot to red dot)</td>
                    <td><jk-operator-button [operator]="'Join'" (notify)="sendDrawerKey('j')"></jk-operator-button></td>
                    <td>
                         [D]rag
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Drag'" (notify)="sendDrawerKey('d')"></jk-operator-button>
                    </td>
                </tr>
                <tr>
                    <td> start again at red dot</td>
                    <td><jk-operator-button [operator]="'reStart'" (notify)="sendDrawerKey(' ')"></jk-operator-button></td>
                    <td>
                         [E]rase Everything
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Erase'" (notify)="sendDrawerKey('e')"></jk-operator-button>
                    </td>
                </tr>
                <tr>
                    <td><jk-operator-button [operator]="'Left'" (notify)="sendDrawerKey('left arrow')"></jk-operator-button></td>
                    <td><jk-operator-button [operator]="'Up'" (notify)="sendDrawerKey('up arrow')"></jk-operator-button></td>
                    <td><jk-operator-button [operator]="'Down'" (notify)="sendDrawerKey('down arrow')"></jk-operator-button></td>
                    <td><jk-operator-button [operator]="'Right'" (notify)="sendDrawerKey('right arrow')"></jk-operator-button></td>
                </tr>
                <tr>
                    <td> [F]ast</td>
                    <td><jk-operator-button [operator]="'Fast'" (notify)="sendDrawerKey('f')"></jk-operator-button></td>
                    <td> [S]low</td>
                    <td><jk-operator-button [operator]="'Slow'" (notify)="sendDrawerKey('s')"></jk-operator-button></td>
                </tr>
                <tr>
                    <td>
                         [B]end
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Bend'" (notify)="sendDrawerKey('b')"></jk-operator-button>
                    </td>
                    <td>
                         [C]ircle
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Circle'" (notify)="sendDrawerKey('c')"></jk-operator-button>
                    </td>
                </tr>
                <tr>
                    <td>
                         Blob
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Blob'" (notify)="sendDrawerKey('x')"></jk-operator-button>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>
                         start [W]riting text (enter to stop)
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Write'" (notify)="sendDrawerKey('w')"></jk-operator-button>
                    </td>
                    <td> Show/Hide [T]race image</td>
                    <td><jk-operator-button [operator]="'Trace'" (notify)="sendDrawerKey('t')"></jk-operator-button></td>
                </tr>
                <tr>
                    <td>
                         Zoom [O]ut
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Out'" (notify)="sendDrawerKey('o')"></jk-operator-button>
                    </td>
                    <td>
                         Zoom [I]n
                    </td>
                    <td>
                        <jk-operator-button [operator]="'In'" (notify)="sendDrawerKey('i')"></jk-operator-button>
                    </td>
                </tr>
                <tr>
                    <td>
                         return to [H]ome position
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Home'" (notify)="sendDrawerKey('h')"></jk-operator-button>
                    </td>
                    <td>
                         return to [L]ast position
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Last'" (notify)="sendDrawerKey('l')"></jk-operator-button>
                    </td>
                </tr>
                <tr>
                    <td>
                        [U]ndo last action
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Undo'" (notify)="sendDrawerKey('u')"></jk-operator-button>
                    </td>
                    <td>
                        Add/Remove [R]ubber (press space to make rubber rub out)
                    </td>
                    <td>
                        <jk-operator-button [operator]="'Rubber'" (notify)="sendDrawerKey('r')"></jk-operator-button>
                    </td>
                </tr>
                <tr>
                    <td><jk-operator-button [operator]="'colour Dark'" (notify)="changeColour(1)" [allowHotkeys]="false"></jk-operator-button></td>
                    <td><jk-operator-button [operator]="'colour Medium'" (notify)="changeColour(5)" [allowHotkeys]="false"></jk-operator-button></td>
                    <td><jk-operator-button [operator]="'colour Light'" (notify)="changeColour(7)" [allowHotkeys]="false"></jk-operator-button></td>
                    <td><jk-operator-button [operator]="'Rub Out'" (notify)="changeColour(0)" [allowHotkeys]="false"></jk-operator-button></td>
                </tr>
            </table>

        </div>
        <div>
            <span>Pencil Colour</span>&nbsp;:&nbsp;<span class="status-indicator" [ngStyle]="{'background-color': pencilColour}">&nbsp;</span>
        </div>
        <div>
            <img class="status-image" [src]="imgData"/>
        </div>
    </div>
</div>


